
### Supervised Learning
### Activity: Building a Student Intervention System

### Question 1 - Classification vs. Regression
*Your goal for this project is to identify students who might need early intervention before they fail or pass. Which type of supervised learning problem is this, classification or regression? Why?*

**Answer: **

This is a Classification type of supervised learning, as we are asked to find out whether the student will pass or fail in the exam and therefore to identify the students who need early intervention since they are predicted as getting failed

### Question-2
load necessary Python libraries and load the student data. Note that the last column from this dataset, `'passed'`, will be our target label (whether the student graduated or didn't graduate). All other columns are features about each student.

In [1]:
# Import libraries
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
# Read student data
stud_data = pd.read_csv('student-data.csv')
stud_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

### Question-3
Let's begin by investigating the dataset to determine how many students we have information on, and learn about the graduation rate among these students. In the code cell below, you will need to compute the following:
- The total number of students, `n_students`.
- The total number of features for each student, `n_features`.
- The number of those students who passed, `n_passed`.
- The number of those students who failed, `n_failed`.
- The graduation rate of the class, `grad_rate`, in percent (%).

In [3]:
# Calculate number of students
n_students = stud_data.shape[0]
n_students

395

There are a total number of 395 students

In [4]:
# Calculate number of features
n_features = stud_data.shape[1]
n_features

31

There are total of 31 features in the student dataset

In [5]:
# Calculate passing students
pas = stud_data.groupby('passed')['passed'].count()
n_passed = pas[1]
print('No. of students passed :',n_passed)

No. of students passed : 265

In [6]:
# Calculate failing students
n_failed = pas[0]
print('No. of students failed :',n_failed)

No. of students failed : 130

In [7]:
# Calculate graduation rate
grad_rate = (n_passed/n_students)*100
grad_rate

67.08860759493672

In [8]:
# Print the results
print('The total number of students :',n_students)
print('The total number of features for each student :',n_features)
print('No. of students passed :',n_passed)
print('No. of students failed :',n_failed)
print('The graduation rate of the class: ',grad_rate)

The total number of students : 395
The total number of features for each student : 31
No. of students passed : 265
No. of students failed : 130
The graduation rate of the class:  67.08860759493672

## Preparing the Data
you will prepare the data for modeling, training and testing.

### Question-4 Identify feature and target columns


separate the student data into feature and target columns to see if any features are non-numeric.

In [9]:
# Extract feature columns

In [10]:
X = stud_data.drop('passed', axis=1)
X.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences'],
      dtype='object')

In [11]:
# Extract target column 'passed'

In [12]:
y = pd.DataFrame(stud_data['passed'])
y.head

<bound method NDFrame.head of     passed
0       no
1       no
2      yes
3      yes
4      yes
..     ...
390     no
391    yes
392     no
393    yes
394     no

[395 rows x 1 columns]>

In [13]:
# Separate the data into feature data and target data (X and y, respectively)

### Question-5 Preprocess Feature Columns

As you can see, there are several non-numeric columns that need to be converted! Many of them are simply `yes`/`no`, e.g. `internet`. These can be reasonably converted into `1`/`0` (binary) values.

Other columns, like `Mjob` and `Fjob`, have more than two values, and are known as _categorical variables_. The recommended way to handle such a column is to create as many columns as possible values (e.g. `Fjob_teacher`, `Fjob_other`, `Fjob_services`, etc.), and assign a `1` to one of them and `0` to all others.

These generated columns are sometimes called _dummy variables_, and we will use the [`pandas.get_dummies()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html?highlight=get_dummies#pandas.get_dummies) function to perform this transformation. Run the code cell below to perform the preprocessing routine discussed in this section.

In [14]:
X = pd.get_dummies(X)
X

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,0,1,0,1,1,0,1,0
1,17,1,1,1,2,0,5,3,3,1,...,1,0,1,0,0,1,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,0,1,0,1,0,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,1,0,1,0,1,0,1,0,1
4,16,3,3,1,2,0,4,3,2,1,...,1,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,5,4,4,...,1,0,0,1,0,1,1,0,1,0
391,17,3,1,2,1,0,2,4,5,3,...,1,0,1,0,0,1,0,1,1,0
392,21,1,1,1,1,3,5,5,3,3,...,1,0,1,0,0,1,1,0,1,0
393,18,3,2,3,1,0,4,4,1,3,...,1,0,1,0,0,1,0,1,1,0
394,19,1,1,1,1,0,3,2,3,3,...,1,0,0,1,0,1,0,1,1,0

In [40]:
from sklearn.preprocessing import LabelEncoder
label_en = LabelEncoder()
a=['passed']
for i in np.arange(len(a)):
    y[a[i]]=label_en.fit_transform(y[a[i]])
y

     passed
0         0
1         0
2         1
3         1
4         1
..      ...
390       0
391       1
392       0
393       1
394       0

[395 rows x 1 columns]

### Question - 6 Implementation: Training and Testing Data Split
So far, we have converted all _categorical_ features into numeric values. For the next step, we split the data (both features and corresponding labels) into training and test sets. you will need to implement the following:
- Randomly shuffle and split the data (`X`, `y`) into training and testing subsets.
  - Use 300 training points (approximately 75%) and 95 testing points (approximately 25%).
  - Set a `random_state` for the function(s) you use, if provided.
  - Store the results in `X_train`, `X_test`, `y_train`, and `y_test`.

In [37]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=2, test_size=0.24)

In [38]:
y_train

     passed
171       1
12        1
13        1
151       1
310       0
..      ...
299       1
22        1
72        0
15        1
168       0

[300 rows x 1 columns]

In [39]:
# Show the results of the split
print('x_train :',x_train.shape)
print('y_train :',y_train.shape)
print('x_test :',x_test.shape)
print('y_test :',y_test.shape)

x_train : (300, 56)
y_train : (300, 1)
x_test : (95, 56)
y_test : (95, 1)

### Question - 7  Training and Evaluating Models
In this section, you will choose 3 supervised learning models that are appropriate for this problem and available in `scikit-learn`. You will first discuss the reasoning behind choosing these three models by considering what you know about the data and each model's strengths and weaknesses. You will then fit the model to varying sizes of training data and measure the accuracy score.

Random Forest
SVM

###  Model Application
*List three supervised learning models that are appropriate for this problem. What are the general applications of each model? What are their strengths and weaknesses? Given what you know about the data, why did you choose these models to be applied?*

In [19]:
#explaination

In [20]:
# Import the three supervised learning models from sklearn

In [21]:
# fit model-1  on traning data

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

<ipython-input-22-0dbe9a369c88>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

RandomForestClassifier()

In [23]:
# predict on the test data

In [24]:
y_pred = rf.predict(x_test)

In [25]:
# calculate the accuracy score

In [26]:
from sklearn.metrics import f1_score,confusion_matrix
f1_score(y_test,y_pred)

0.8055555555555556

In [27]:
# fit the model-2 on traning data and predict on the test data and measure the accuracy

In [28]:
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier()
gb.fit(x_train, y_train)

C:\Users\Manvita\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingClassifier()

In [29]:
y_pred = gb.predict(x_test)

f1_score(y_test,y_pred)

0.8142857142857143

In [30]:
# fit the model-3 on traning data and predict on the test data and measure the accuracy

In [33]:
#Extreme Gradient Boosting
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)

[21:00:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=16,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [34]:
y_pred=xgb.predict(x_test)

In [35]:
f1_score(y_test,y_pred)

0.7801418439716312