### Case Study on Measures of Central Tendency and Dispersion
An Institution wishes to find out their student’s ability in maths, reading and writing skills. 
The Institution wants to do an exploratory study to check the following information.

#### 1. Find out how many males and females participated in the test.

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

student_data= pd.read_csv('StudentsPerformance.csv')
male_students = student_data.loc[student_data['gender'] == 'male'].count()
female_students = student_data.loc[student_data['gender'] == 'female'].count()
print('No. of Male students =',male_students['gender'])
print('No. of Female students =',female_students['gender'])

No. of Male students = 482
No. of Female students = 518

#### 2. What do you think about the students' parental level of education?

In [2]:
parent_edu = student_data["parental level of education"].value_counts()
parent_edu

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

Insights:
Above data shows that almost 18% of the parents are either graduates or post-graduates and the remaining 82% are educated upto college level.

#### 3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course

In [3]:
Gender_Scores = student_data.groupby('gender')['math score','reading score','writing score'].mean()
Gender_Scores

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

Insights:
The average marks for math scored by male students are higher than female students.
The average marks for reading and writing scored by female students are higher than male students.

In [4]:
Test_prep = student_data.groupby('test preparation course')['math score','reading score','writing score'].mean()
Test_prep

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

Insights:
The students who have completed the course have a better average in all the 3 scores.

#### 4. What do you think about the scoring variation for math, reading and writing based on
● Gender
● Test preparation course

In [5]:
student_data[['test preparation course',
      'gender',
      'math score',
      'writing score',
      'reading score']].groupby(['gender']).agg(['var','std'])

        math score            writing score            reading score  \
               var        std           var        std           var
gender
female  256.958593  16.029928    220.369327  14.844842    207.677438
male    211.889097  14.556411    202.413924  14.227225    200.211010


              std
gender
female  14.411018
male    14.149594

Insight:
For male, the standard deviation is almost the same in all the 3 categories.
For female variation is more in math score when compared to writing score and reading score.
So we can infer that the scores are consistant for male students.

#### 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [6]:
math_score= student_data.sort_values(by=['math score'], ascending=False)
n = 25
math_score.head(int(len(math_score)*(n/100)))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64

Insights:
From the above data we can see that all the students who have scored marks greater than or equal to 77 are eligible for bonus points.